# Entornos y secretos
.env
**/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Docker
.dockerignore

# Logs
logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Binarios y builds
/backend/node-api/dist
/backend/python-ai/models/
*.mp4
*.mov
*.avi
*.zip
*.tar.gz